# Data analysis for all data collected during our project

#### imports and Data

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv("Results16/countingSort-PC16.csv")
df.columns=["Test name","PKG (J)","CPU (J)","GPU (J)","Memory (J)","Temperature","Time (ms)"]


dfMemory = pd.read_csv("Results16/CountingSortMemory-PC16.csv") #What in the fuck 15249696.1 ? 

dfMemory = dfMemory.transpose()

dfMemory["Memory (byte)"] = dfMemory.index

dfMemory.reset_index()

#Missing at the moment
df["Memory (byte)"] = dfMemory["Memory (byte)"]
print("\n are they the same length? ", len(df) == len(dfMemory), f" len(df) = {len(df)}, len(dfMemory) = {len(dfMemory)} \n")

#removing values that are nonsense 
df = df[df['PKG (J)'] >= 0]
df = df[df['CPU (J)'] >= 0]
#df = df[df['Memory (byte)'] >= 0]
#df = df[df['Temperature'] >= 0]
df = df[df['Time (ms)'] >= 0]

df = df.replace("  ", np.nan)

#missing values for each column
print("MISSING DATA: \n\n ", df.isnull().sum(axis=0))

l = []
for i in range(len(df)):
    l.append(int(df.iloc[i]["Test name"].split("-")[1]))

df["Size"] = l


df

 are they the same length?  False  len(df) = 15599, len(dfMemory) = 15600

MISSING DATA:

  Test name            0
PKG (J)              0
CPU (J)              0
GPU (J)          15599
Memory (J)           0
Temperature          0
Time (ms)            0
Memory (byte)    15599
dtype: int64

,Test name,PKG (J),CPU (J),GPU (J),Memory (J),Temperature,Time (ms),Memory (byte),Size
0,random1-25000-1,5.558350,4.756775,NaN,0.380188,72,622.672,NaN,25000
1,random1-25000-1,5.314636,4.515320,NaN,0.365112,72,627.655,NaN,25000
2,random1-25000-1,5.447754,4.662659,NaN,0.370605,72,602.698,NaN,25000
3,random1-25000-1,5.188416,4.428955,NaN,0.356323,72,596.155,NaN,25000
4,random1-25000-1,5.204102,4.443542,NaN,0.355286,72,598.893,NaN,25000
...,...,...,...,...,...,...,...,...,...
15594,best-1000000-1,6.719788,5.797974,NaN,0.380432,71,713.453,NaN,1000000
15595,best-1000000-1,6.539246,5.623535,NaN,0.380737,71,725.147,NaN,1000000
15596,best-1000000-1,6.512512,5.608704,NaN,0.366638,71,724.385,NaN,1000000
15597,best-1000000-1,6.630493,5.714172,NaN,0.381470,70,707.163,NaN,1000000
15598,best-1000000-1,6.861755,5.932434,NaN,0.407776,70,741.815,NaN,1000000